.footer{
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  font-size: 30px;
  color:black;
  font-weight: bold;
  text-decoration: underline;
  font-family: "Great Vibes";}